<!DOCTYPE html>
<html>
<head>
    <title>Patient Allergies</title>
</head>
<body>
    <h1>Patient Allergies</h1>
    <table border="1">
        <tr>
            <th>Patient ID</th>
            <th>Patient Name</th>
            <th>Allergy Substance</th>
            <th>Reaction</th>
            <th>Severity</th>
        </tr>
        {% for a in allergies %}
        <tr>
            <td>{{ a.patient_id }}</td>
            <td>{{ a.patient_name }}</td>
            <td>{{ a.substance }}</td>
            <td>{{ a.reaction }}</td>
            <td>{{ a.severity }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>

