<!DOCTYPE html>
<html>
<head>
    <title>Visits</title>
</head>
<body>
    <h1>Visits</h1>
    <table border="1">
        <tr>
            <th>Visit ID</th>
            <th>Patient ID</th>
            <th>Provider ID</th>
            <th>Date</th>
	    <th>Location</th>
            <th>Reason</th>
            <th>Status</th>
        </tr>
        {% for v in visit %}
        <tr>
            <td>{{ v.visit_id }}</td>
            <td>{{ v.patient_id }}</td>
            <td>{{ v.provider_id }}</td>
            <td>{{ v.visit_date_time }}</td>
	    <td>{{ v.location }}</td> 
            <td>{{ v.reason }}</td>
            <td>{{ v.status }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
